p{
    text-decoration: none;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 10px;
    margin-right: 0;
}
a{
    text-decoration: none;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
}

body{
    background-color: #f9f9e3;
}

.Subpolar_Games_Title{
    text-align: center;
    margin-bottom: 50px;
    
    color: #2f325d;
    font-size: 100px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.Game_List{
    text-align: center;
    margin-bottom: 50px;
}
.Game{
    margin-right: 70px;

    color: black;
    font-size: 35px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}