body{
    background-color: #F0EDCC;
}

/* Title Box */
.Title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.Title_Logo{
    image-rendering: pixelated;
    object-fit: cover;
    
    width: 400px;
}

/* youtube top ui */
#youtube_top_UI{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 56px;
}

#left_box{
    display: flex;
    flex: 1;
    align-items: center;
}
#hamburger_button{
    margin-left: 15px;
    width: 44px;
    height: 44px;
    border-radius: 28px;
    border-style: none;
    background-color: white;
}
#hamburger_button:hover{
    background-color: rgb(222, 222, 222);
}
#hamburger_icon{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
#youtubeKR_link{
    width: 110px;
    height: 56px;
}
#youtubeKR_logo{
    width: 110px;
    height: 56px;
    object-fit: cover;
    object-position: 1px;
}

#mid_box{
    margin-right: 80px;
    margin-left: 80px;
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
}
#input_box{
    flex: 1;
    width: 0px;
    height: 40px;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 15px;
    font-family: system-ui;
    font-size: 16px;
}
#input_box:focus{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(40, 40, 255);;
    outline-style: none;
}
#input_box::placeholder{
    font-family: system-ui;
    font-size: 16px;
}
#search_button{
    margin-left: -1px;
    width: 70px;
    height: 44px;
    border-color: grey;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}
#search_button:hover{
    background-color: rgb(220, 220, 220);
}
#search_icon{
    width: 20px;
    height: 20px;
    object-fit: cover;
}
#mike_button{
    margin-left: 10px;
    width: 44px;
    height: 44px;
    border-radius: 28px;
    border-style: none;
    background-color: white;
    cursor: pointer;
}
#mike_button:hover{
    background-color: rgb(222, 222, 222);
}
#mike_icon{
    width: 20px;
    height: 20px;
    object-fit: cover;
}

#right_box{
    margin-right: 35px;
    display: flex;
    align-items: center;
}
#create_button{
    width: 44px;
    height: 44px;
    border-radius: 28px;
    border-style: none;
    background-color: white;
    cursor: pointer;
}
#create_button:hover{
    background-color: rgb(222, 222, 222);
}
#create_icon{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
#notification_button{
    margin-left: 10px;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    border-radius: 28px;
    border-style: none;
    background-color: white;
    cursor: pointer;
}
#notification_button:hover{
    background-color: rgb(222, 222, 222);
}
#notification_icon{
    width: 20px;
    height: 20px;
    object-fit: cover;
}
#profile_button{
    width: 44px;
    height: 44px;
    border-radius: 28px;
    border-style: none;
    background-color: white;
    cursor: pointer;
}
#profile_image{
    width: 40px;
    height: 40px;
    border-radius: 28px;
    border-style: none;
    object-fit: cover;
}