body{
    background-color: #F0EDCC;
}

/* Title Box */
.Title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.Title_Logo{
    image-rendering: pixelated;
    object-fit: cover;
    
    width: 400px;
}

/* practice */
.Search_Box{
    display: flex;
    flex-direction: row;
    background-color: #5f27cd;
    height: 70px;
}

.Search_Box_Left{
    width: 300px;
    border-style: solid;
}
.Home_Text{
    color: white;
}

.Search_Box_Mid{
    flex: 1;
    border-style: solid;
}
.Input_Box{
    text-align: center;
    margin: auto;
}

.Search_Box_Right{
    width: 300px;
    border-style: solid;
}
.Download_Button{
    border-style: solid;
    border-color: white;
    background: none;
    color: white;
}