body{
    background-color: #F0EDCC;
}

/* Title Box */
.Title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.Title_Logo{
    image-rendering: pixelated;
    object-fit: cover;
    
    width: 400px;
}