/* Subpolar Games Home */
a.goToSubpolarGamesHome{
    display: block;
    text-align: center;
    image-rendering: pixelated;
}

a.goToFarmTileSimHome{
    display: block;
    text-align: center;
    font-size: 30px;
}

/* Farm Tile Simulator Home */
a.farmTileSimRefresh{
    display: block;
    text-align: center;
    font-size: 30px;
}

a.devLogLink{
    display: block;
    text-align: center;
    font-size: 30px;
}