.amazonLink{
    color: #3b7083;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.product{
    font-size: 26px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
}

.priceStock{
    color: #3d8228;
    font-size: 17px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
}

.basicMessage{
    font-size: 17px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.cartButton{
    background-color: #d5ba40;
    border-style: none;
    font-weight: bold;
    width: 127px;
    height: 35px;
    border-radius: 17px;
    margin-right: 10px;
}

.buyButton{
    background-color: #ca8b37;
    border-style: none;
    font-weight: bold;
    width: 127px;
    height: 35px;
    border-radius: 17px;
}